# Entorno virtual
env/
venv/

# Archivos de Python
__pycache__/
*.py[cod]
*.sqlite3

# Archivos de Django
*.log
*.pot
*.pyc
db.sqlite3

# Archivos de VSCode
.vscode/

# Archivos de sistema
.DS_Store

# Archivos de migración
*/migrations/*.py
*/migrations/*.pyc
